*{
    margin: 0;
    padding: 0;

}

a{
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover{

    opacity: 0.7;
}
.logo{
    font-size: 24px;
    text-transform: uppercase
}

nav{
    background-color: #1d171d;
    height: 12vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, 
   arial, Arial, Helvetica, sans-serif
    
   
}

.nav-list{

    list-style: none;
    display: flex;
}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;

}


*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;

}

body{
    background-color: rgba(252, 252, 252, 0.927);


}

main{
    background-color: #f8f8f8aa;
    width: 1000px;
    margin: auto;
    padding: 40px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    border-radius: 0px;

}

img {
    margin: auto;
    display: block;
  }

body{

    margin: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(#79e4a6), #1bc296;
}

.search-box{
        
    position: absolute;
    top: 6%;
    left: 40%;
    transform: translate(-50%, -50%);
    background: 7e0de7;
    height:  7px;
    padding: 7px   ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-txt{
    border: none;
    background-color:  rgb(231, 231, 231);
    outline: none;
    padding: 0;
    color: white;
    font-size: 16px;
    line-height: 34px;
    width: 40;
}

.search-btn{
width: 30x;
height: 30px;
border-radius: 100%;

}

.mobile-menu div{
    width: 10px;
    height: 21x;
    background-color: #fff;
    margin: 9px;
}

.mobile-menu{
    cursor: pointer;
    display: none;
}

@media (max-width: 999px) {
    body{
        overflow: hidden;
    }
    
    .nav-list{
        position: absolute;
        top: 0vh;
        right: 0;
        width: 40vw;
        height: 100vh;
        background: #ffffff;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: 3.0s ease-in;
    }

}



.mobile-menu {

    display: block;
    
}
.nav-list.active {

    transform: translateX(0);
}
button {
    width: 60px;
    border: none;
    background-color: transparent;
  }
CONTATO BOTAO{
width: 50px;
border: none;


}